<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%-include('../partials/header') %>

    <title>SignUp</title>
</head>

<div>
  <section class="vh-200" style="background-image: url('../img/1.jpg'); background-color: #20315e; margin-top: -50px; background-size: cover; background-position: center;">
    <%-include('../partials/nav') %>
        <div class="container py-5 h-100" style="max-width: 90%;">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-xl-10">
                <div class="mt-5 card" style="border-radius: 1rem;">
                  <div class="row g-0">
                    <div class="col-md-7 col-lg-6 d-none d-md-block">
                      <img src="../img/7.jpg" alt="login form" class="img-fluid fit-section-image" style="border-radius: 1rem 0 0 1rem; height: 100%;" />
                    </div>
                    <div class="col-md-5 col-lg-6 d-flex align-items-center">
                      <div class="card-body p-4 p-lg-5 text-black">
      



                    <!-- Rest of the form code -->
                    <form action="/admin/adminsignup" method="post">
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-clock     fa-2x me-3" style="color: #ff6219;"></i>
                          <span class="h1 fw-bold mb-0">ExScheduler</span>
                          
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Registration info</h5>
      
                        <div class="form-outline mb-4">
                            <label for="adminname">Admin Name</label>
                            <input type="text" maxlength="20" class="form-control" id="adminname" name="adminname"
                                aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="adminemail">Admin Email</label>
                            <input type="adminemail" maxlength="50" class="form-control" id="adminemail" name="adminemail"
                                ariadescribedby="emailHelp" required>
            
                        </div>
                        <div class="form-outline mb-4">
                            <label for="adminpassword">Password</label>
                            <input type="password" maxlength="23" class="form-control" id="adminpassword" name="adminpassword" required>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="cadminpassword">Confirm Password</label>
                            <input type="password" maxlength="23" class="form-control" id="cadminpassword" name="cadminpassword" required>
                                <small id="emailHelp" class="form-text text-muted">Make sure to type the same password</small>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                        </div>
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/admin/adminlogin"
                          style="color: #393f81;">Log in here</a></p>
                    </form>



                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Are you a student? <a href="/student/studentsignup"
                        style="color: #393f81;">Click Here</a></p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>  


    <%-include('../partials/footer') %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>