<!doctype html>
<html lang="en">

<head>
  <title>Add Department</title>
  <%-include('../partials/header') %>
  <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
</head>

<body>
  <!-- Include the sidebar partial -->
    <!-- CONTENT -->

    <!-- NAVBAR -->
    <nav>

    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <!-- <h1>Final Routine</h1> -->
        </div>
      </div>
    </main>
    <!-- MAIN -->
    <section class="content">
      <div class="container">
        <table>
          <% for (let i = 0; i < scheduleArray.length; i++) { %>
              <tr>
                  <% for (let j = 0; j < scheduleArray[i].length; j++) { %>
                      <% if (i === 0) { %>
                          <th><%= scheduleArray[i][j] %></th>
                      <% } else { %>
                          <td><%= scheduleArray[i][j] %></td>
                      <% } %>
                  <% } %>
              </tr>
          <% } %>
      </table>
      </div>
    </section>
    




    
</body>

</html>
