<!-- SIDEBAR -->
<section id="sidebar" >
  <a href="#" class="brand">
    <span class="text">Ex-scheduler</span>
  </a>
  <ul class="side-menu top">
    <li>
      <a href="#">
        
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/add-program-semester">
        
        <span class="text">Add ProgramSemester</span>
      </a>
    </li>
    <li>
      <a routerLink="/add-exam-schedule">
        
        <span class="text">Add ExamSchedule</span>
      </a>
    </li>
    <li>
      <a routerLink="/add-course">
        
        <span class="text">Add Course</span>
      </a>
    </li>
    <li>
      <a routerLink="/add-link">
        
        <span class="text">Add Link</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/generate-routine">
        
        <span class="text">Generate Routine</span>
      </a>
    </li>
    <li>
      <a routerLink="/fetch-routine">
        
        <span class="text">Fetch Routine</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#" class="logout">
        
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Generate Routine</h1>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  
  <section id="content">

    <div class="container">
        <button id="generateButton">Generate</button>
    </div>
  
  </section>
  <!-- CONTENT -->
