<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
    <a href="#" class="brand">
      <span class="text">Ex-scheduler</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a href="#">
          
          <span class="text">Dashboard</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a href="#" class="logout">
          
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
</section>
  <!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Student Dashboard</h1>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>

    <section id="content">

     <div class="container">
        <div class="input-container">
          
            <label for="program">CSE4553:</label>
            <input type="date">
            <input type="date">
            <input type="date">
            <button id="confirmButton">Confirm</button>
          
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            
                <label for="program">CSE4504:</label>
                <input type="date">
                <input type="date">
                <input type="date">
                <button id="confirmButton">Confirm</button>
            
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="program">CSE4511:</label>
            <input type="date">
            <input type="date">
            <input type="date">
            <button id="confirmButton">Confirm</button>
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="program">CSE4577:</label>
            <input type="date">
            <input type="date">
            <input type="date">
            <button id="confirmButton">Confirm</button>
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="program">CSE4585:</label>
            <input type="date">
            <input type="date">
            <input type="date">
            <button id="confirmButton">Confirm</button>
        </div>
    </div>
    <div class="container">
        <div class="input-container">
            <label for="program">CSE4515:</label>
            <input type="date">
            <input type="date">
            <input type="date">
            <button id="confirmButton">Confirm</button>
        </div>
     </div>
    
      
    </section>
  <!-- CONTENT -->
