<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Pizzalagbe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </ul>
        <div class="mx-2">
            <a class="btn btn-primary" href="/deliveryman/changepassword"><h7>Change password</h7></a>
        </div>
        <div class="mx-2">
            <a class="btn btn-success" href="/userlogout"><h7>Log Out</h7></a>
        </div>
    </div>
    </nav>

    <%if(typeof error != 'undefined'){
        error.forEach(error => {
            %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Sorry!</strong> <%=error.message%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <%
        }) %>
        <%
        delete error;
    } %>

    <%if(typeof no_err != 'undefined'){
        no_err.forEach(no_err => {
            %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> <%=no_err.message%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <%
        }) %>
        <%
        delete no_err;
    } %>